<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate"/>
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon.ico">
  <link href="../../../favicon.ico" rel="icon">

  <title>EraMeta</title>
</head>

<body class="dropsBody">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/home" title=""><strong>01 : Home</strong></a></li>
          <li><a href="/drops" title=""><strong>02 : DROPS</strong></a></li>
          <li><a href="/about" title=""><strong>03 : About</strong></a></li>
          <li><a href="/faq" title=""><strong>04 : FAQ</strong></a></li>
          <li><a href="/contact" title=""><strong>05 : Launch Pad</strong></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="headerImageContainer">
        <img src="./assets/images/work001-01.jpg" class="dropHeaderImage" alt="">
      </div>
      <div class="dropHeroContainer">
        <h3 class="dropTitle">Suicide Gang DAO</h3>
        <h3 #dropSubTitle class="dropSubTitle">After a gory suicide mission gone wrong, the Suicide Gangsters are now captured by the Metavillains and
          injected with their brain frying and memory erasing serum. Most unfortunately, the gangsters forgot
          how to get back to their hangout along with their secret gang sign in order to be granted access. It is now up to you,
          and can only be up to you, the holder, to follow and crack the clues in your 1 of 1 Suicide Gangster NFT and help
          reunite the gang. Once all the codes have been cracked and solved, all holders will be airdropped a free
          Suicide Gang NFT add-on that regenerates memory revealing the official gang sign and contains more clues regarding
          the gang's reunion. The first Suicide Gang reunion will be an event inducting all members into the DAO system.</h3>
        <div class="dropOptionsContainer">
          <button #toggleButton class="toggleButton" id="0" (click)="togglePlans()">
            <p #toggleButtonText class="toggleButtonText">More</p>
          </button>
          <p class="iconSeperator">
            <a #gangPlanButton class="gangPlanButton fa-icon" (click)="openRoadMap()">
              <span class="iconify SGIcons" data-icon="raphael:roadmap"></span>
            </a>
            <a href="https://www.instagram.com/truenfts/" target="_blank" title="" class="fa-icon">
              <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
            </a>
            <a href="https://twitter.com/SuicideGangNFT" target="_blank" title="" class="fa-icon">
              <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
            </a>
            <a href="https://discord.com/invite/qjRcCTaH8d" target="_blank" title="" class="fa-icon">
              <span class="iconify" data-icon="fa-brands:discord"></span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container" *ngFor="let image of this.images">
  <div class="col-md-4 col-sm-6">
    <div class="listedDropItemContainer">
      <img (click)="presentLightBoxImage($event)" class="listedDropItemImage lightBoxItem" [src]="image.src" alt="">
      <div class="listedDropItemDetailsContainer">
        <p class="listedDropItemRarity">{{image.rarity}}</p>
        <h3 class="listedDropItemTitle">{{image.name}}</h3>
        <p class="listedDropItemPrice">Price: {{image.price}} <img class="SOL" src="./assets/images/SOLLogo.jpg"></p>
      </div>
    </div>
  </div>
</div>

<div #gangPlanLB class="gangPlanLB" (click)="hideRoadMap($event)">
  <img class="gangPlanIMG" src="./assets/images/SuicideGangPlan.jpg" alt="">
</div>

<footer class="fttr footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© TrueNFTs</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>
</body>
</html> -->
