<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate"/>
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon.ico">
  <link href="../../../favicon.ico" rel="icon">

  <title>EraMeta</title>
</head>

<body class="aboutBody">

<div class="row">
  <div class="container">
    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12">
      <div class="jumboContainer">
        <h3 class="jumboTitle">Our Mission: DAO the World</h3>
        <p class="sectionText-center">
          We are a so-called group of visionary technologists and capital allocators who are true believers in decentralized systems.
          Believers who also fund, build and help educate the mainstream on DAOs. We believe that all real world political, economical and social systems will benefit greatly from being decentralized.
          We strive to play our part in the journey towards a better world that promotes freedom and the same rules for everybody.
          We also get a kick from connecting and creating exclusive smart contracts between fans and their favorite creators.
        </p>
        <div class="bottomSectionSeperator"></div>
        <div class="socialContainer">
          <a href="https://www.instagram.com/erametadao/" target="_blank" title="" class="fa-icon">
            <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
          </a>
          <a href="https://twitter.com/EraMetaDao" target="_blank" title="" class="fa-icon">
            <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
          </a>
          <a href="https://discord.gg/Nqxpm24CFA" target="_blank" title="" class="fa-icon">
            <span class="iconify" data-icon="fa-brands:discord"></span>
          </a>
        </div>
        <div class="col-xs-12 whitePaperContainer">
          <div class="buttonContainer">
            <button (click)="openWhitePaper()" class="activeButton" type="button" name="button">White paper V 1.2</button>
          </div>
          <div class="buttonContainer">
            <button disabled class="nonActiveButton" type="button" name="button">White paper V 1.3</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row greenRow section-padding-double">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12">
    <div class="sectionTitleContainer-clear">
      <h1 class="jumboTitle">Meet the Builders</h1>
      <div class="bottomSectionSeperator"></div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="teamMemberContainer RemyBio">
      <img class="teamMemberImage lightBoxItem" src="./assets/TeamMembers/RemyTeamPP.png" alt="">
      <div class="row">
        <div class="col-sm-12 teamMemberDetails">
          <h3 class="teamMemberName">Nathaniel Remy</h3>
          <p class="teamMemberRole">Co-President & CTO</p>
        </div>

        <div class="infoButton" id="Remy">
          <p class="infoButtonTitle">+ Info</p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="teamMemberContainer DamonBio">
      <img class="teamMemberImage lightBoxItem" src="./assets/TeamMembers/DamonTeamPP.png" alt="">
      <div class="row">
        <div class="col-sm-12 teamMemberDetails">
          <h3 class="teamMemberName">Damon Robinson</h3>
          <p class="teamMemberRole">Co-President & CEO</p>
        </div>

        <div class="infoButton" id="Damon">
          <p class="infoButtonTitle">+ Info</p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="teamMemberContainer AlizhanBio">
      <img class="teamMemberImage lightBoxItem" src="./assets/TeamMembers/AlizhanTeamPP.png" alt="">
      <div class="row">
        <div class="col-sm-12 teamMemberDetails">
          <h3 class="teamMemberName">Alizhan Akhmetkaliyev</h3>
          <p class="teamMemberRole">Software Architect</p>
        </div>

        <div class="infoButton" id="Alizhan">
          <p class="infoButtonTitle">+ Info</p>
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="teamMemberContainer JordanBio">
      <img class="teamMemberImage lightBoxItem" src="../../../assets/TeamMembers/JordanTeamPP.png" alt="">
      <div class="row">
        <div class="col-sm-12 teamMemberDetails">
          <h3 class="teamMemberName">Jordan Edelstein</h3>
          <p class="teamMemberRole">Creative Director</p>
        </div>

        <div class="infoButton" id="Jordan">
          <p class="infoButtonTitle">+ Info</p>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-6">
    <div class="teamMemberContainer JonathanBio">
      <img class="teamMemberImage lightBoxItem" src="../../../assets/TeamMembers/JonathanTeamPP.png" alt="">
      <div class="row">
        <div class="col-sm-12 teamMemberDetails">
          <h3 class="teamMemberName">Jonathan Bouchard</h3>
          <p class="teamMemberRole">COO</p>
        </div>

        <div class="infoButton" id="Jonathan">
          <p class="infoButtonTitle">+ Info</p>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>

</html>
