.metaVenturesBody {
    background-color: rgba(18, 18, 18, 1);
    text-align: center;
}

.section-padding {
    padding: 10vh 0vw 0vh 0vw;
}

.section-padding-bottom {
    padding: 10vh 0vw 10vh 0vw;
}

.section-side-padding {
    padding: 10vh 4vw 0vh 4vw;
}

.section-side-padding-bottom {
    padding: 10vh 4vw 10vh 4vw;
}

.jumboRow {
    background-color: #00253C;
    background-image: linear-gradient(to bottom right, rgba(25, 77, 80, 0.8), rgba(155, 49, 103, 1));
}

.jumboContainer {
    max-width: 400px;
}

.jumboTitle {
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1;
    margin: 0px 5% 12px 5%;
}

.jumboTitle-left {
    text-align: left;
    font-size: 42px;
    font-weight: 600;
    line-height: 1.1;
}

.jumboSubTitle-left {
    text-align: left;
    margin-top: -2px;
    font-size: 18px;
}

.titleUnderline::after {
    content: "";
    display: block;
    width: 100px;
    padding-top: 8px;
    border-bottom: 2px solid #f9dd94;
  }

.ctaButton {
  padding: 12px 18px 12px 18px;
  color: rgba(255, 255, 255, 1);
  font-size: min(3.33vw, 18px);
  font-weight: 533;
  background-color: rgba(26, 26, 26, 1);
  background-image: none;
  border: 2px solid #18FB9A;
  border-radius: 5px;
  cursor: pointer;
}

.ctaButton:active {
  color: rgba(26, 26, 26, 1);
  background-image: linear-gradient(to right, #9845FF, #18FB9A);
  border: 2px solid rgba(26, 26, 26, 1);
}

.ctaButton {
  margin: 20px 0px 40px 0px;
}

.jumboArtContainer {
    width: 100%;
    aspect-ratio: 1/0.5;
  }

.artContentContainer {
    width: 33%;
    padding: 1%;
    border-radius: 16px;
}

.artContentContainer:hover {
    width: 40%;
    margin-left: -7%;
    transform: translateY(-7.5%);
    z-index: 4;
}

.artContentContainer img {
    width: 100%;
    aspect-ratio: 1/1;
    object-position: center;
    object-fit: cover;
    overflow: hidden;
    border-radius: 12px;
    background-color: rgba(26, 26, 26, 0.33);
}

.artLeft {
    margin-top: 100px;
}

.artCenter {
    margin-top: 50px;
}

.artButton {
    padding: 12px 18px 12px 18px;
    margin: 16px 0px 16px 0px;
    font-size: min(3.33vw, 18px);
    color: rgba(26, 26, 26, 1);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.artButton:hover, .artButton:active {
    background-color: rgba(26, 26, 26, 1);
    color: rgba(255, 255, 255, 1);
}

/* Only show button on hover */
.artContentContainer:hover > .artButton {
    display: inline-block;
}

.sectionText-center {
    text-align: center;
    font-size: 16px;
    opacity: 1;
}

.sectionText-left {
    text-align: left;
    font-size: 16px;
    opacity: 1;
}

.sectionText-left-bold {
    text-align: left;
    font-size: 16px;
    opacity: 1;
    font-weight: 650;
}

.stepperContainer {
    background-color: rgba(26, 26, 26, 1);
    padding: 5vh 0% 0% 0%;
    border-radius: 16px;
}

mat-stepper {
    margin-top: 20px;
    background-color: rgba(26, 26, 26, 1);
    border-radius: 16px;
}

::ng-deep .mat-step-header .mat-step-icon {
    display: none;
 }

 .stepContainer {
     width: 100%;
     height: 100%;
     padding: 8px;
 }

 .stepperRow {
     padding: 5vh 16px 5vh 16px;
     background-color: rgba(18, 18, 18, 1);
     border-radius: 16px;
 }

 .titleDiv {
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;

    width: 100%;
    padding: 33px 5% 33px 5%;
    margin-bottom: 40px;
    border-radius: 16px;
 }

 .titleDiv-1 {
    background-color: #00CBCF;
 }

 .titleDiv-2 {
    background-color: #FCF104;
 }

 .titleDiv-3 {
    background-color: #fc913a;
 }

 .titleDiv-4 {
    background-color: #18FB9A;
 }

 .titleDivTitle {
    text-align: center;
    color: rgba(26, 26, 26, 1);
    font-size: 36px;
    font-weight: 550;
    line-height: 1.1;
    margin: 0px;
 }

 .stepperRow ul {
     margin-top: 0px;
     list-style: none;
 }

 .stepperRow li {
    width: 90%;
    margin: 8px;
    margin-left: 5%;
    padding: 8px;
    border-radius: 5px;
 }

 .stepperRow li:hover {
    background-color: rgba(56, 56, 56, 1);
 }

 .stepperRow li p, .stepperRow ul h3 {
     margin: 0px;
 }

.stepperRowButton {
    float: left;
    padding: 8px;
    margin: 33px 0px 0px 12px;
    color: rgba(26, 26, 26, 1);
    font-size: min(3.15vw, 14px);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.stepperRowButton:hover,
.stepperRowButton:active {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(26, 26, 26, 1);
}

.matStepperBTN {
    float: right;
    padding: 8px;
    margin: 33px 12px 0px 0px;
    color: rgba(255, 255, 255, 1);
    font-size: min(3.15vw, 14px);
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.matStepperBTN:hover,
.matStepperBTN:active {
    color: #18FB9A;
    text-decoration: underline;
}

.stepperDAOImgContainer {
    margin-top: 0px;
}

.stepperDAOImgContainer img {
    width: 100%;
    aspect-ratio: 1/0.5;
    border-radius: 16px;
    background-color: rgba(26, 26, 26, 0.33);
}

.percentageRow {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 14px 0px 16px 0px;
}

.twentyFive {
    margin: 0px;
    margin-bottom: -8px;
    height: 30px;
    width: 30px;
}

.percentageRow div p {
    margin: 6px 0px 6px 0px;
    font-size: 16px;
}

@media (max-width: 500px) {
    .percentageRow div p {
        font-size: 14px;
        width: 120%;
        margin-left: -10%;
    }
}

.buildRow {
    margin-top: 20px;
}

.buildDiv {
    width: 100%;
    aspect-ratio: 1/1;
    border: 2px solid rgba(26, 26, 26, 1);
    border-radius: 16px;
    background-color: rgba(26, 26, 26, 1);
    margin: 8px 0px 8px 0px;
    padding: 8px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    vertical-align: middle;
}

.buildDiv:hover {
    border: 2px solid #18FB9A;
    color: #18FB9A;
}

.buildIcon {
    height: 34px;
    width: 34px;
}

.buildDiv div p {
    margin: 0px;
}

.buildDiv:hover > div p, .buildDiv:hover > div .buildIcon {
    color: #18FB9A;
}

.videoContainer {
    text-align: center;
    padding: 33px 1% 0% 1%;
    background-color: #fc913a;
    border-radius: 16px;
  }

  .videoContainer p {
      margin-top: -8px;
      margin-bottom: 33px; /* Match parent container's padding top */
      width: 90%;
      margin-left: 5%;
  }

  .videoContainer p, .videoContainer h3 {
    color: rgba(26, 26, 26, 1);
    font-weight: 550;
  }

  .videoContainer iframe {
    text-align: center;
    width: 100%;
    min-height: 266px;
    border-radius: 16px;
  }







 .stepSectionTitle {
    margin-bottom: 0px;
    font-size: 18px;
 }

 .stepContainer:hover > h3, .stepContainer:active > h3 {
    text-decoration: underline !important;
    font-weight: 550  !important;
 }

 .sectionTitle-center {
    text-align: center;
    font-size: 22px;
  }

.sectionTitle-left {
    text-align: left;
    font-size: 22px;
}

.sectionTitle-left-bold {
    text-align: left;
    font-size: 22px;
    font-weight: 650;
  }

  .textClickable {
      margin: -12px 0px 0px 0px;
      font-size: 14px;
      cursor: pointer;
  }

  .clickable {
    cursor: pointer;
  }

  .textClickable:hover, .textClickable:active, .clickable:hover, .clickable:active {
      color: #18FB9A;
      text-decoration: underline;
  }

  .bottomSectionSeperator {
    height: 2px;
    width: 75%;
    background: linear-gradient(to right, #9845FF, #18FB9A);
    margin-top: 10px;
    margin-left: 12.5%;
  }

  /* .bottomSectionSeperator-left {
    height: 2px;
    width: 133px;
    background: linear-gradient(to right, #9845FF, #18FB9A);
    margin-left: 0px;
  } */

  .colorfulContainer {
      text-align: left;
      padding: 18px 16px 18px 16px;
      margin-top: 33px;
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 16px;
  }

  .colorfulTitle {
    text-align: left;
    font-size: max(30px, 2.66vw);
    font-weight: 450;
    line-height: 1;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 46px;
  }

  .colorfulIcons {
    margin-bottom: 8px;
    height: 45px;
    width: 45px;
    border-radius: 10px;
    color: rgba(26, 26, 26, 1);
  }

  .colorButton {
      position: absolute;
      bottom: 18px; /* Match padding of parent div since absolute */
      padding: 8px;
      color: rgba(255, 255, 255, 1);
      font-size: min(3.33vw, 18px);
      background-color: rgba(26, 26, 26, 1);
      border: none;
      border-radius: 16px;
      cursor: pointer;
  }

  .colorButton:hover, .colorButton:active {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(26, 26, 26, 1);
  }

.colorRow {
    background-color: #00253C;
    background-image: linear-gradient(to right, #00253C, #270138);
}

.buildingRow {
    padding-top: 20px;
}

.buildingRow-p {
    padding: 8px;
    margin-top: 12px;
    border: 2px solid #04d87c;
    border-radius: 16px;
}

.buildingRow-p::after {
    color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 28px;
  }

  .p1::after {
    content: url('https://api.iconify.design/simple-icons/hive-blockchain.svg?color=white');
  }
  .p2::after {
    content: url('https://api.iconify.design/icon-park-outline/blockchain.svg?color=white');
  }
  .p3::after {
    content: url('https://api.iconify.design/mdi/google-analytics.svg?color=white');
  }
  .p4::after {
    content: url('https://api.iconify.design/file-icons/3d-model.svg?color=white');
  }
  .p5::after {
    content: url('https://api.iconify.design/bx/landscape.svg?color=white');
  }
  .p6::after {
    content: url('https://api.iconify.design/fluent/people-community-16-filled.svg?color=white');
  }

.ventureContainer {
      text-align: left;
      padding: 18px 16px 18px 16px;
      margin-top: 33px;
      width: 100%;
      border-radius: 16px;
      background-color: rgba(26, 26, 26, 1);
      cursor: pointer;
      display: flex;
}

.venture1 {
    border: 2px solid #00CBCF;
}
.venture1:hover {
    background-color: #00CBCF;
}

.venture2 {
    border: 2px solid #e6e600;
}
.venture2:hover {
    background-color: #e6e600;
}

.venture3 {
    border: 2px solid #EB54BC;
}
.venture3:hover {
    background-color: #EB54BC;
}

.ventureIcon {
    margin-right: 18px; /* Match parent container's paddng */
    height: max(4vw, 60px);
    width: max(4vw, 60px);
    border-radius: 10px;
    color: #00CBCF;
}

.ventureContainer h3 {
    margin-bottom: 26px;
}

.ventureContainer:hover > .ventureIcon, .ventureContainer:hover > h3 {
    color: rgba(26, 26, 26, 1);
}

.ventureLearnButton {
    position: absolute;
    right: 24px;
    bottom: 8px;
    padding: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: min(3.15vw, 14px);
    background-color: rgba(26, 26, 26, 1);
    border: none;
    border-radius: 16px;
    cursor: pointer;
}

.ventureLearnButton:hover,
.ventureLearnButton:active {
  color: rgba(26, 26, 26, 1);
  background-color: rgba(255, 255, 255, 1);
}

@media(max-width: 768px) {
    .jumboContainer {
        max-width: none;
    }
    .jumboTitle, .jumboTitle-left {
        font-size: 28px;
    }
    .titleDivTitle {
        font-size: 22px;
    }
    .jumboArtContainer {
        width: 120%;
        margin-left: -10%;
    }
    .marginEditContainer {
        margin-top: 5vh;
    }
}
