<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate"/>
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon.ico">
  <link href="../../../favicon.ico" rel="icon">

  <title>EraMeta</title>
</head>

<body class="launchpadBody">
  <div class="row topRow">
    <div class="topRowDiv">
      <h3 class="jumboTitle">Launch your NFT Collection Today!</h3>
      <p class="jumboSubTitle green">NO CODE REQUIRED</p>
      <button (click)="verifyCreationStatus()" class="web3Button">Launch My Collection</button>
    </div>
  </div>

  <div class="row section-padding">
    <div class="col-lg-12 col-xs-12">
      <h3 class="jumboTitle">
        Get Started in 4 <span class="green">CODELESS</span> Steps
        <br>
        <span class="green">FREE</span> & <span class="green">EASY</span>
        <br>
      </h3>
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <div class="bottomSectionSeperator"></div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="stepSectionContainer">
          <h3 class="sectionNumberTitle-left green">1</h3>
          <div class="stepIconContainer">
            <span class="iconify stepSectionIcon green" data-icon="ic:round-dashboard-customize"></span>
          </div>
          <p class="sectionTitle-center white">Access the Dashboard</p>
          <p class="sectionText-center grey">
            After creating your EraMeta account,
            you will have full access to the dashboard.
            Here you can create,
            edit, deploy and analyze the most relevant data for your Web3 stores!
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="stepSectionContainer">
          <h3 class="sectionNumberTitle-left purple">2</h3>
          <div class="stepIconContainer">
            <span class="iconify stepSectionIcon purple" data-icon="el:magic"></span>
          </div>
          <p class="sectionTitle-center white">Configure your Store</p>
          <p class="sectionText-center grey">
            You can generate or import your 3D animations and 2D art.
            Select how you would like to sell your work.
            Either through a candy machine mint, 1 of 1 auction or a fixed price sale!
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="stepSectionContainer">
          <h3 class="sectionNumberTitle-left yellow">3</h3>
          <div class="stepIconContainer">
            <span class="iconify stepSectionIcon yellow" data-icon="ion:storefront"></span>
          </div>
          <p class="sectionTitle-center white">Personalize your Storefront</p>
          <p class="sectionText-center grey">
            Simply select your favorite template,
            insert your branded design and deploy!
            You can edit your store front at any time through the dashboard and your store will be updated immediately.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
        <div class="stepSectionContainer">
          <h3 class="sectionNumberTitle-left blue">4</h3>
          <div class="stepIconContainer">
            <span class="iconify stepSectionIcon blue" data-icon="simple-icons:hive-blockchain"></span>
          </div>
          <p class="sectionTitle-center white">Deploy and Start Selling</p>
          <p class="sectionText-center grey">
            You have created your very own NFT store front without having to write any code!
            You can now share your store with your community and reap the rewards of being an awesome creator.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row colorfulRow section-padding">
    <div class="col-lg-12 col-xs-12">
      <h1 class="jumboTitle">The Easiest NFT Deployment Tool</h1>
      <p class="sectionText-center white">
        Built for the community, built by the community.
        The EraMeta launchpad is engineered to prioritize
        <span class="green">security</span>,
        <span class="green"> simplicity</span> and
        <span class="green">quality</span>.
      </p>
      <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <div class="bottomSectionSeperator"></div>
      </div>
    </div>

    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 pad-top">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="greenBorderSection">
          <span class="iconify greenIcon" data-icon="ic:round-dashboard-customize"></span>
          <p class="greenBorderText">Drag & Drop Dashboard</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="greenBorderSection">
          <span class="iconify greenIcon" data-icon="ic:twotone-verified-user"></span>
          <p class="greenBorderText">Anti-Bot Options</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="greenBorderSection">
          <span class="iconify greenIcon" data-icon="teenyicons:webpack-outline"></span>
          <p class="greenBorderText">Customizable Contracts</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="greenBorderSection">
          <span class="iconify greenIcon" data-icon="el:magic"></span>
          <p class="greenBorderText">No Human Needed</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="greenBorderSection">
          <span class="iconify greenIcon" data-icon="clarity:clock-solid"></span>
          <p class="greenBorderText">Fastest Start-To-Launch</p>
        </div>
      </div>
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div class="greenBorderSection">
          <span class="iconify greenIcon" data-icon="ic:twotone-contact-support"></span>
          <p class="greenBorderText">Assigned Support</p>
        </div>
      </div>
    </div>

      <button (click)="verifyCreationStatus()" class="web3Button sectionedButton">Launch My Collection</button>
  </div>
  
  <div class="row section-padding">
    <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-xs-offset-0">
      <p class="green">THE SHOPIFY FOR SPL TOKENS</p>
      <h1 class="jumboTitle">
        <span class="purple">WE</span>
        Automated it so
        <span class="purple">YOU</span>
        can
        <span class="purple">CLAIM </span>
        <span class="purple">THE </span>
        <span class="purple">REWARDS</span>
      </h1>
    </div>

    <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0">
      <div class="scrollContainer">
        <div class="scrollSectionContainer">
          <span class="iconify launchPadLogos blue" data-icon="healthicons:chart-line-stacked-negative"></span>
          <h3 class="sectionTitle-left"><span class="blue">YOUR ART, YOUR WAY</span></h3>
          <p class="sectionText-left white">
            Create the next great DAO and community with up to 10,000 NFTs, or auction off your unique 1 of 1 art.
            Whether you have 3D animations or need to generate your 2D art, your entry into the web3 movement is effortless.
          </p>
        </div>
        <div class="scrollSectionContainer">
          <span class="iconify launchPadLogos green" data-icon="bi:check-square-fill"></span>
          <h3 class="sectionTitle-left"><span class="green">100% OWNERSHIP</span></h3>
          <p class="sectionText-left white">
            Own the update authority account, own your meta data, view important analytics in real time,
            and become a verified creator. All of this is crucial for secondary listings and most importantly your creative freedom!
          </p>
        </div>
        <div class="scrollSectionContainer">
          <span class="iconify launchPadLogos yellow" data-icon="healthicons:ui-user-profile-negative"></span>
          <h3 class="sectionTitle-left"><span class="yellow">BRAND YOUR STORE</span></h3>
          <p class="sectionText-left white">
            Simply select your favorite template, drop your branded images and text and you are ready to deploy!
            Your branded images and texts are editable in real time through the dashboard.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pricingContainer">

      <div class="col-lg-10 col-lg-offset-1 col-xs-12 col-xs-offset-0">
        <h1 class="jumboTitle">Pricing Plans</h1>
        <p class="green">EraMeta DAO NFTs <span class="white">*</span>do not<span class="white">*</span> get burnt after use</p>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="clrdDiv nonHolderPricingDiv">
          <h3 class="sectionTitle-left-bold titleUnderline white">General Public</h3>
          <ul>
            <h3 class="sectionText-left-bold white">Deployment Fee</h3>
            <li>
              <p class="sectionText-left">◎ 10</p>
            </li>
            <h3 class="sectionText-left-bold white">Permanent Decentralized Storage</h3>
            <li>
              <p class="sectionText-left">~ $0.009 USD per MB</p>
            </li>
            <h3 class="sectionText-left-bold white">Primary Sales</h3>
            <li>
              <p class="sectionText-left">5%</p>
            </li>
            <h3 class="sectionText-left-bold white">Secondary Sales</h3>
            <li>
              <p class="sectionText-left">5%</p>
            </li>
          </ul>
          <button (click)="verifyCreationStatus()" class="web3Button pricingButton">Start Now</button>
        </div>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="clrdDiv holderPricingDiv">
          <h3 class="sectionTitle-left-bold titleUnderline white">EraMeta DAO Members</h3>
          <ul>
            <h3 class="sectionText-left-bold white">Deployment Fee</h3>
            <li>
              <p class="sectionText-left">◎ 2</p>
            </li>
            <h3 class="sectionText-left-bold white">Permanent Decentralized Storage</h3>
            <li>
              <p class="sectionText-left">~ $0.009 USD per MB</p>
            </li>
            <h3 class="sectionText-left-bold white">Primary Sales</h3>
            <li>
              <p class="sectionText-left">2.5%</p>
            </li>
            <h3 class="sectionText-left-bold white">Secondary Sales</h3>
            <li>
              <p class="sectionText-left">2.5%</p>
            </li>
          </ul>
          <button (click)="verifyCreationStatus()" class="web3Button pricingButton">Start Now</button>
        </div>
      </div>
    </div>
  </div>

<app-footer></app-footer>
<app-auth-modal [isModalOpen]="isAuthModalOpen" [isLoginForm]="false" (closeEvent)="closeModal($event)" (currentUser)="onAuthenticateUser($event)"></app-auth-modal>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     navActivePage();
  });
</script>
</body>
</html>
