<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="google" content="notranslate"/>
  <meta name="msapplication-tap-highlight" content="no">

  <link rel="icon" href="../../../favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" sizes="180x180" href="../../../favicon.ico">
  <link href="../../../favicon.ico" rel="icon">

  <title>EraMeta</title>
</head>

<title>Paul Chenard x TrueNFTs</title>

<body class="dropsBody">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>

<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
          <li><a href="/home" title=""><strong>01 : Home</strong></a></li>
          <li><a href="/drops" title=""><strong>02 : DROPS</strong></a></li>
          <li><a href="/about" title=""><strong>03 : About</strong></a></li>
          <li><a href="/faq" title=""><strong>04 : FAQ</strong></a></li>
          <li><a href="/contact" title=""><strong>05 : Launch Pad</strong></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
 The Legacy of French-Canadian Mr. Paul Chenard began in 2006 after his artwork of the 06 Formula 1 racecars attracted world wide attention,
 followed by Mr. Chenard receiving multiple international awards engraving his name as forever part of motorsport history.
 Mr. Chenard has been respresented by the most important automotive art gallery in the world, the Historic Car Art Gallery in the UK.
 He has also been published in nearly 100 magazines and has been a VIDA Invited Signature Artist for the past seven years.
 The late John Haynes, founder of Haynes Publishing was a great fan and supporter of Paul Chenard and has many of his pieces to decorate his very own home.
 <br>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-12">
      <div class="headerImageContainer">
        <img src="./assets/images/PCDropHeaderImage.jpg" class="dropHeaderImage" alt="">
      </div>
      <div class="dropHeroContainer">
        <h3 class="dropTitle">AUTOMOBILI ART</h3>
        <h3 class="artistTag">By Paul Chenard</h3>
        <h3 class="dropSubTitle">The world's most published automotive artist & Maritime Motosports Hall of Fame Inductee</h3>
        <p class="dropSubSubTitle">| LIVE SKETCHES | ONE OF ONES |</p>
        <div class="dropOptionsContainer">
          <a href="https://www.instagram.com/automobiliart/" target="_blank" title="" class="fa-icon">
            <span class="iconify" data-icon="bi:book"></span>
          </a>
          <a href="https://www.instagram.com/automobiliart/" target="_blank" title="" class="fa-icon">
            <span class="iconify" data-icon="akar-icons:instagram-fill"></span>
          </a>
          <a href="https://twitter.com/Automobiliart" target="_blank" title="" class="fa-icon">
            <span class="iconify" data-icon="akar-icons:twitter-fill"></span>
          </a>
          <a href="https://discord.gg/NvExNWGWvY" target="_blank" title="" class="fa-icon">
            <span class="iconify" data-icon="fa-brands:discord"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-8">
      <h3 class="PCDropCollectionTitle">LIVE SKETCHES</h3>
      <h3 class="mintInfoTitle">
        Supply: 56 x TBA
        <br>
        Price: TBA <img class="solTitleLogo" src="./assets/images/SOLLogo.jpg">
        <br>
        Mint Date: TBA
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="carousel">
        <div #liveSketchesCarousel class="carouselBox">

        </div>

        <a class="switchLeft sliderButton" (click)="sliderScrollLeft('liveSketches')"><span class="iconify sliderArrow" data-icon="bi:arrow-left-circle"></span></a>
        <a class="switchRight sliderButton" (click)="sliderScrollRight('liveSketches')"><span class="iconify sliderArrow" data-icon="bi:arrow-right-circle"></span></a>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-8">
      <h3 class="PCDropCollectionTitle">COLOR ON COLOR</h3>
      <h3 class="mintInfoTitle">
        Supply: 8 x TBA
        <br>
        Price: TBA <img class="solTitleLogo" src="./assets/images/SOLLogo.jpg">
        <br>
        Mint Date: TBA
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="carousel">
        <div #colorOnColorCarousel class="carouselBox">

        </div>

        <a class="switchLeft sliderButton" (click)="sliderScrollLeft('colorOnColor')"><span class="iconify sliderArrow" data-icon="bi:arrow-left-circle"></span></a>
        <a class="switchRight sliderButton" (click)="sliderScrollRight('colorOnColor')"><span class="iconify sliderArrow" data-icon="bi:arrow-right-circle"></span></a>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-8">
      <h3 class="PCDropCollectionTitle">PEN & INK</h3>
      <h3 class="mintInfoTitle">
        Supply: 2 x TBA
        <br>
        Price: TBA <img class="solTitleLogo" src="./assets/images/SOLLogo.jpg">
        <br>
        Mint Date: TBA
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="carousel">
        <div #penAndInkCarousel class="carouselBox">

        </div>

        <a class="switchLeft sliderButton" (click)="sliderScrollLeft('penAndInk')"><span class="iconify sliderArrow" data-icon="bi:arrow-left-circle"></span></a>
        <a class="switchRight sliderButton" (click)="sliderScrollRight('penAndInk')"><span class="iconify sliderArrow" data-icon="bi:arrow-right-circle"></span></a>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-xs-8">
      <h3 class="PCDropCollectionTitle">B&W ON COLOR</h3>
      <h3 class="mintInfoTitle">
        Supply: 5 x TBA
        <br>
        Price: TBA <img class="solTitleLogo" src="./assets/images/SOLLogo.jpg">
        <br>
        Mint Date: TBA
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="carousel">
        <div #BWColorCarousel class="carouselBox">

        </div>

        <a class="switchLeft sliderButton" (click)="sliderScrollLeft('BWColor')"><span class="iconify sliderArrow" data-icon="bi:arrow-left-circle"></span></a>
        <a class="switchRight sliderButton" (click)="sliderScrollRight('BWColor')"><span class="iconify sliderArrow" data-icon="bi:arrow-right-circle"></span></a>

      </div>
    </div>
  </div>
</div> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/Red-LanciaFerrariD50.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">Red Lancia Ferrari D50</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/1931BugattiType51.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">1931 Bugatti Type 51</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/FrancoisCevertPortrait.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">François Cevert</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/1967Ferrari330P3-4.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">1967 Ferrari 330 P3-4</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/YellowFerrari512S.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">Ferrari 512 S - 1000 kms de Spa - (1970)</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/GreenJaguarETypeLightweight.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">Jaguar E-Type Lightweight</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/PenskeSunocoCamaroZ28.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">Penske Sunoco Camaro Z28 - (1969)</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/2016PorscheGT3RS.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">2016 Porsche GT3 RS</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/PenskeSunocoPorsche917-30.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">Penske Sunoco Porsche 917/30 - (1973)</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/1936BugattiType57GTank.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">1936 Bugatti Type 57G Tank</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/1979BrumosPorsche930Turbo.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">1979 Brumos Porsche 930 Turbo</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="listedDropItemContainer">
        <img class="listedDropItemImage lightBoxItem" src="./assets/images/PCDropItems/1953AstonMartinDB3S.jpg" alt="">
        <div class="listedDropItemDetailsContainer">
          <p class="listedDropItemRarity">1/1</p>
          <h3 class="listedDropItemTitle">1953 Aston Martin DB3S</h3>
          <p class="listedDropItemPrice">Price: 0.5 <span class="iconify" data-icon="logos:ethereum"></span></p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <footer class="fttr footer-container text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>© TrueNFTs</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener("DOMContentLoaded", function (event) {
    navActivePage();
  });
</script>
</body>

</html> -->
